@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FAFAFA;
    --foreground: #0C0D10;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased selection:bg-[#1297FD] selection:text-white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #F2F3F5;
  }

  ::-webkit-scrollbar-thumb {
    background: #D8DADF;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #8D909C;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white border border-[#E8E9EC] rounded-2xl;
  }

  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

  .custom-scrollbar::-webkit-scrollbar { width: 4px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: #F2F3F5; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: #D8DADF; border-radius: 4px; }
}
